 
 body{
   background-color: #9ba0a8;
 }
 h1 {
  text-align: center;
  font-weight: bold;
  background-color:#266ee0;
}
.image{
  margin-left: 20%;
  border-radius: 50%;
  width: 60%;
}
.Addresse {
  text-align: center;
  background-color: #266ee0;
}
